.title {
    font-size: 2.5rem;
    margin-left: 1em;
}


.signup-form {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.button {
    align-self: center;
}

.divider {
    display: flex;
    flex-direction: row;
    color: #9C9C9C;
}

.divider:before,
.divider:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.divider:before {
    margin-right: 10px
}

.divider:after {
    margin-left: 10px
}